.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
